.light-mode .navbar,
.light-mode footer {
  background-color: #f8f9fa;
}


img.rounded-circle {
  border-radius: 50%;
}

footer {
  background-color: #212529;
  padding: 1em 0;
  color: #ccc;
}

.navbar-brand,
.nav-link {
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #ffc107;
  transform: scale(1.1);
}


body {
  font-family: Arial, sans-serif;
}


.menu-icon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}


.navbar-collapse {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-collapse {
    display: none;
    flex-direction: column;
  }

  .navbar-nav {
    display: block;
    width: 100%;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
    text-align: center;
  }

  .navbar-nav .nav-link {
    display: block;
    padding: 10px 0;
  }

  .show-menu {
    display: flex !important;
  }
}